<h1>Listing streams</h1>

<table>
  <tr>
    <th>User</th>
    <th>Activity</th>
    <th>Activity type</th>
  </tr>

<% @streams.each do |stream| %>
  <tr>
    <td><%=h stream.user_id %></td>
    <td><%=h stream.activity_id %></td>
    <td><%=h stream.activity_type %></td>
    <td><%= link_to 'Show', stream %></td>
    <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
    <td><%= link_to 'Destroy', stream, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stream', new_stream_path %>