<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </p>
  <p>
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </p>
  <p>
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>