<h1>Listing photos</h1>

<table>
  <tr>
    <th>User</th>
    <th>File file name</th>
    <th>File content type</th>
    <th>File file size</th>
    <th>File updated at</th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%=h photo.user_id %></td>
    <td><%=h photo.file_file_name %></td>
    <td><%=h photo.file_content_type %></td>
    <td><%=h photo.file_file_size %></td>
    <td><%=h photo.file_updated_at %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo', new_photo_path %>