<p>
  <b>User:</b>
  <%=h @photo.user_id %>
</p>

<p>
  <b>File file name:</b>
  <%=h @photo.file_file_name %>
</p>

<p>
  <b>File content type:</b>
  <%=h @photo.file_content_type %>
</p>

<p>
  <b>File file size:</b>
  <%=h @photo.file_file_size %>
</p>

<p>
  <b>File updated at:</b>
  <%=h @photo.file_updated_at %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>