<h1>Listing friendships</h1>

<table>
  <tr>
    <th>User</th>
    <th>Friend</th>
    <th>Confirmed</th>
  </tr>

<% @friendships.each do |friendship| %>
  <tr>
    <td><%=h friendship.user_id %></td>
    <td><%=h friendship.friend_id %></td>
    <td><%=h friendship.confirmed %></td>
    <td><%= link_to 'Show', friendship %></td>
    <td><%= link_to 'Edit', edit_friendship_path(friendship) %></td>
    <td><%= link_to 'Destroy', friendship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New friendship', new_friendship_path %>