<h1>New friendship</h1>

<% form_for(@friendship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :friend_id %><br />
    <%= f.text_field :friend_id %>
  </p>
  <p>
    <%= f.label :confirmed %><br />
    <%= f.check_box :confirmed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', friendships_path %>