<p>
  <b>User:</b>
  <%=h @friendship.user_id %>
</p>

<p>
  <b>Friend:</b>
  <%=h @friendship.friend_id %>
</p>

<p>
  <b>Confirmed:</b>
  <%=h @friendship.confirmed %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>