<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Parent:</b>
  <%=h @comment.parent_id %>
</p>

<p>
  <b>Parent type:</b>
  <%=h @comment.parent_type %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>